<head>
  <title>Sinatra</title>
  <link rel="stylesheet" type="text/css" href="/header.css">
</head>

<header>
  <nav class="navbar">
    <div class="logo">
      <img src="img/pizza_logo.png" alt="Пиццерия Лукоморье">
    </div>
    <ul class="nav-links">
      <li><a href="/">Главная</a></li>
      <li><a href="/catalog">Меню</a></li>
      <li><a href="/about">О нас</a></li>
      <li><a href="/contact">Контакты</a></li>
    </ul>
  </nav>
</header>