<!DOCTYPE html>
<html>
<head>
    <title>Sinatra</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <%= erb :header %> 
    <%= erb :sidebar %>
    <div class="container">
        <%= yield %>
    </div>
    <%= erb :footer %>
</body>
</html>
