<head>
  <title>Sinatra</title>
  <link rel="stylesheet" type="text/css" href="/sidebar.css">
</head>


<aside class="sidebar">
  <ul class="categories">
    <li><a href="/menu/pizza">Пицца</a></li>
    <li><a href="/menu/snacks">Закуски</a></li>
    <li><a href="/menu/drinks">Напитки</a></li>
    <li><a href="/promotions">Акции</a></li>
  </ul>
</aside>